<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
<p><%= current_user.try(:role) %></p>
<% if user_signed_in? %>
  <p>your email: <%= current_user.email%> you are <% current_user.role %></p>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
<% end %>